<div class="row row-offcanvas row-offcanvas-left">

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

    <div class="well sidebar-nav">
      <ul>
        <li><a href="" ng-click="editEvent()"><span class="glyphicon glyphicon-pencil"></span> Edit Event</a></li>
        <li><a href="" ng-click="newMarker()"><span class="glyphicon glyphicon-plus-sign"></span> Add Marker</a></li>
      </ul>
      <h2>Marker List</h2>
      <ul class="nav">
        <li ng-repeat="marker in markers" ng-click="selectMarker(marker)"><a href="">{{ marker.name }}</a></li>
      </ul>
    </div>

  </div>

  <div class="col-xs-12 col-sm-9">

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        
        <!-- Add another form for edit and use ng-show -->
        <form class="form-horizontal" id="AddEditMarker" role="form" ng-submit="submitMarker(form)" ng-show="!EditEvent">
          <input type="hidden" ng-model="form.objectId">
          <div class="input-group">
            <label for="name">Marker Name</label>
            <input type="text" name="name" class="form-control" placeholder="Marker Name" ng-model="form.name">
          </div>
          <div class="input-group">
            <label for="latitude">Latitude</label>
            <input type="text" name="latitude" class="form-control" placeholder="Latitude" ng-model="form.latitude">
          </div>
          <div class="input-group">
            <label for="longitude">Longitude</label>
            <input type="text" name="longitude" class="form-control" placeholder="Longitude" ng-model="form.longitude">
          </div>
          <!-- 
          Make a dropdown list
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Marker Type" value="">
          </div> -->
          <button type="submit" class="btn btn-default" ng-show="!updateMarker">Add Marker</button>
          <button type="submit" class="btn btn-default" ng-show="updateMarker">Update Marker</button>
          <div class="btn btn-default" ng-show="updateMarker" ng-click="deleteMarker(form.objectId)">Delete Marker</div>
        </form>
        
        <form class="form-horizontal" id="EditEvent" role="form" ng-submit="submitEvent(event)" ng-show="EditEvent">
          <div class="input-group">
            <label for="name">Event Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" ng-model="event.name">
          </div>
          <div class="input-group">
            <label for="center">Center</label>
            <input type="text" name="latitude" class="form-control" placeholder="Latitude" ng-model="event.latitude"> - <input type="text" name="longitude" class="form-control" placeholder="Longitude" ng-model="event.longitude">
          </div>
          <div class="input-group">
            <label for="start_date">Start Date</label>
            <input type="text" name="start_date" class="form-control" placeholder="Start Date" ng-model="event.start_date">
          </div>
          <div class="input-group">
            <label for="end_date">End Date</label>
            <input type="text" name="end_date" class="form-control" placeholder="End Date" ng-model="event.end_date">
          </div>
          <button type="submit" class="btn btn-default">Update Event</button>
        </form>

      </div>

      <div class="col-6 col-sm-6 col-lg-6">
        <gm-map gm-map-id="'simpleMap'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" class="map">
          <gm-markers gm-objects="markers"
              gm-get-lat-lng="{ lat: object.location.lat, lng: object.location.lng }">
          </gm-markers>
        </gm-map>
      </div>
    </div>

  </div>

</div>